<div class="container">
  <p>
    idols works!
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">fn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let idol of idols">
        <th scope="row">{{ idol.id }}</th>
        <td>{{ idol.name }}</td>
        <td>
          <a routerLink="/idols/{{idol.id}}" class="btn btn-primary btn-sm">Detail</a>
        </td>
      </tr>
    </tbody>
  </table>

  <form>
    <div class="form-group row">
      <label for="idolName col-sm-2" class="col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="idolName" #idolName />
      </div>
    </div>
    <div class="form-group row">
      <label for="idolImageUrl col-sm-2" class="col-form-label">ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="idolImageUrl" #idolImageUrl />
      </div>
    </div>
    <button class="btn btn-outline-primary" (click)="onAdd(idolName.value, idolImageUrl.value)">Add</button>
  </form>
</div>
