<div class="container">
  <p>
    dashboard works!
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3" *ngFor="let idol of idols">
      <div class="card bg-dark text-white">
        <img src="{{idol.imageUrl}}" class="card-img" alt="{{idol.name}}">
        <div class="card-body">
          <h5 class="card-title">{{idol.name}}</h5>
          <p class="card-text"></p>
          <a routerLink="/idols/{{idols.id}}" class="btn btn-primary stretched-link">Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>
